.search {
    position: relative;
    width: 100%;
}

.input {
    width: 100%;
    margin-right: 8px;
    padding: 13px 18px 13px;
    font-size: 16px;
    -webkit-appearance: none;
    appearance: none;
    /* background: url(../assets/images/search.svg) no-repeat #fff; */
    background-position: right 15px top 50%;
    background-size: 16px;
    height: 56px;
    box-shadow: rgba(25, 26, 30, 0.08%) 0px 1px 3px;
    border: none;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.85%);
}

.list {
    margin-top: 4px;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    animation-duration: 0.5s;
    animation-name: slidein;
    z-index: 100;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgb(31 32 39 / 10%) 0px 8px 32px;
}