* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  outline: none;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  background: rgb(248, 249, 251);
}

#root:after {
  content: "";
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: -1;
  background: url(/assets/images/bg.png) 0% 0% / contain no-repeat;
}

.popup {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum","tnum";
  text-align: center;
  &__h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 24px;
  }
  &__input {
    height: 56px;
    width: 100%;
    background: rgb(248, 249, 251);
    border-radius: 10px;
    border: 1px solid rgb(232, 233, 238);
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    padding: 16px;
    color: rgb(19, 30, 54);   
    margin-bottom: 24px; 
  }
  &__submit {
    height: 56px;
    margin-bottom: 48px;
  }
  &__p {
    margin-top: 48px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    color: rgb(136, 141, 165);
  }
  &__auth {
    span:first-child {
      color: rgb(136, 141, 165);
      margin-right: 8px;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
    }
    span:last-child {
      color: rgb(95, 169, 240);
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      cursor: pointer;
    }
  }
}

.none {
  opacity: 0;
}

main {
  padding: 96px 0px 100px;
  margin: 0px auto;
  max-width: 1280px;
  width: 100%;
}